<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>
<h1>Users index</h1>
<table id="app_table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Joindate</th>
		<td></th>
	</tr>
	<% @users.each do |u| %>
		<tr>
			<td><%= u.username %></td>
			<td><%= u.email %></td>
			<td><%= format_time(u.created_at) %></td>
			<td><% if current_user.id != u.id %> 
						<%= link_to("Add as friend", add_friend_path(:id => u.id), :class => 'button' ) %><% end %></td>
		</tr>
	<% end %>
</table>
