<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>

<table id="app_table">
	<tr>
		<th>Index</th>
		<th>Latest Activity</th>
	</tr>
	<tr>
		<td><%= link_to "Appointments", appointments_path, :class => 'button' %></td>
		<td><%= @latest_appointment.nil? ? "none" : link_to(@latest_appointment.name, appointment_path(@latest_appointment), :class => @latest_appointment.important ? 'ibutton' : 'button') %></td> 
	</tr>
	<tr>
		<td><%= link_to "Users", users_path, :class => 'button' %></td>
		<td><%= @latest_user.nil? ? "none" : link_to(@latest_user.username, user_path(@latest_user), :class => 'button') %></td>
	</tr>
</table

<h1>Friendship requests</h1>

<table id="app_table">
	<tr>
		<th>From</th>
		<th>Created_at</th>
		<th></th>
	</tr>
	<% @friendship_requests.each do |fr| %>
		<tr>
			<td><%= ufinder(fr.user_id) %></td>
			<td><%= format_time(fr.created_at) %></td>
			<td><%= link_to "Accept", accept_friendship_path(:id => fr.id), :class => 'button' %></td>
		</tr>
	<% end %>
</table>
