<h1>Listing appointments</h1>

<table id="app_table">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Date</th>
		<th>Action</th>
	</tr>
	<% @appointments.each do |appointment| %>
		<tr>
			<td><%= link_to appointment.name, appointment_path(appointment.id), :class => 'button' %></td>
			<td><%= appointment.description %></td>
			<td><%= format_time(appointment.time) %></td>
			<% if appointment.author_id == current_user.id %>
				<td><%= link_to "Edit", edit_appointment_path(appointment.id), :class => 'button' %> <%= link_to "Delete", destroy_appointment_path(:id => appointment.id), :class => 'button' %></td><br>
			<% end %>
		</tr>
	<% end %>
</table>

<br />
