<h1>Listing appointments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <%= link_to appointment.name, appointment_path(appointment.id), :class => 'button' %>
    <p><%= appointment.description %></p>
    <p><%= appointment.time %></p>
    <% if appointment.author_id == current_user.id %>
	<p><%= link_to "Delete", destroy_appointment_path(:id => appointment.id), :class => 'button' %></p>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path, :class => 'button' %>
