<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>

<h1>My appointments</h1>

<table id="app_table">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Date</th>
		<th>Action</th>
	</tr>
	<% @appointments.each do |a| %>
		<tr>
			<td><%= link_to a.name, appointment_path(a.id), :class => a.important ? 'ibutton' : 'button' %></td>
			<td><%= truncate(a.description, :length => 70) %></td>
			<td><%= format_time(a.time) %></td>
			<% if a.author_id == current_user.id %>
				<td><%= link_to "Edit", edit_appointment_path(a.id), :class => a.important ? 'ibutton' : 'button' %> <%= link_to "Delete", destroy_appointment_path(:id => a.id), :class => a.important ? 'ibutton' : 'button', :confirm => 'Are you sure?' %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<br />
