<p id="notice"><%= notice %></p>

<div id="left_corner">

		<table>
		  <tr>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	  <tr>
		<h3><%= @appointment.name %></h3>
		<p>Description: <%= @appointment.description %></p>
		<p>Time: <%= format_time(@appointment.time) %></p>
		<p>Author: <%= @creator.username %></p>
		<p>Participants:
			<% @participants.each do |p| %>
				<%= p.username %>
			<% end %>
		</p>
	  </tr>
	</table>

	<% if current_user.id != @appointment.author_id %>
		<% if @assigned == true %>
			<p>Assigned at: <%= format_time(@assignment.created_at) %></p><br>
			<%= link_to "Check out", checkout_path(:id => @appointment.id), :class => 'button' %>
		<% else %>
			<%= link_to "Participate", participate_path(:id => @appointment.id), :class => 'button' %>
		<% end %>
	<% else %>
		<p>Created at: <%= format_time(@appointment.created_at) %></p>
	<% end %>

</div>

<div id="right_corner">
	<table id="app_table">
		<tr>
			<th>Content</th>
			<th>Commenter</th>
		</tr>
			<% @comments.each do |c| %>
				<tr>
					<td><%= c.content %></td>
					<td><%= ufinder(c.author_id) %></td>
				</tr>
			<% end %>
	</table>
	<br>
	<h3>New</h3>
	<%= form_for([@appointment, @new_comment]) do |f| %>
		<%= f.text_field :content %>
		<%= f.submit %>
	<% end %>
</div>
