<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
	<p>Name: <%= @appointment.name %></p>
	<p>Description: <%= @appointment.description %></p>
	<p>Time: <%= @appointment.time %></p>
	<p>Author: <%= @creator.username %></p>
	<p>Participants:
		<% @participants.each do |p| %>
			<%= p.username %>
		<% end %>
	</p>
  </tr>
</table>

<% if current_user.id != @appointment.author_id %>
	<% if @assigned == true %>
		<p>Assigned at: <%= @assignment.created_at %></p> 
		<%= link_to "Check out", checkout_path(:id => @appointment.id), :class => 'button' %>
	<% else %>
		<%= link_to "Participate", participate_path(:id => @appointment.id), :class => 'button' %>
	<% end %>
<% else %>
	<p>Created at: <%= @appointment.created_at %></p>
<% end %>

<% if current_user.id == @appointment.author_id %>
		<%= link_to 'Edit', edit_appointment_path(@appointment), :class => 'button' %> 
<% end %>
<%= link_to 'Back', appointments_path, :class => 'button' %>
