<% if flash[:notice] %><div id="content_information"><%= flash[:notice] %></div><% end %>

<div id="left_corner">

	<p class="p_app_show"><%= @appointment.name %></p>
	<p class="p_app_show">Description: <%= @appointment.description %></p>
	<p class="p_app_show">Time: <%= format_time(@appointment.time) %></p>
	<p class="p_app_show">Author: <%= @creator.username %></p>
	<p class="p_app_show">Participants:
		<% @participants.each do |p| %>
			<%= p.username %>
		<% end %>
	</p>

	<% if current_user.id != @appointment.author_id %>
		<% if @assigned == true %>
			<p>Assigned at: <%= format_time(@assignment.created_at) %></p><br>
			<%= link_to "Check out", checkout_path(:id => @appointment.id), :class => 'button' %>
		<% else %>
			<%= link_to "Participate", participate_path(:id => @appointment.id), :class => 'button' %>
		<% end %>
	<% else %>
		<p class="p_app_show">Created at: <%= format_time(@appointment.created_at) %></p>
			<p class="p_app_show">Members:
			<% @members.each do |m| %>
				<%= ufinder(m.user_id) %>
			<% end %></p>
			<%= form_for([@appointment, @new_member]) do |f| %>
				<%= f.select 'user_id', options_for_select(@users.collect{ |u| [u.username, u.id] }) %> <%= f.submit "Add" %>
			<% end %>
	<% end %>

</div>

<div id="right_corner">
	<%= form_for([@appointment, @new_comment]) do |f| %>
		<%= f.text_field :content %>
		<%= f.submit "Comment" %>
	<% end %>
	<table id="app_table">
		<tr>
			<th>Content</th>
			<th>Commenter</th>
		</tr>
			<% @comments.each do |c| %>
				<tr>
					<td><%= c.content %></td>
					<td><%= ufinder(c.author_id) %></td>
				</tr>
			<% end %>
	</table>
	<br>
</div>
