<!DOCTYPE html>
<html>
<head>
  <title>Jumphost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page_bg">
		<div id="container">
			<div id="menu_top">
				<div class="menuitem">
					<%= link_to "Home", root_path, :class => 'menulink' %>
				</div>
				<% if current_user %>
					<div class="menuitem">
						<%= link_to "Edit Profile", edit_user_path(current_user.id), :class => 'menulink' %>
					</div>
					<div class="menuitem">
						<%= link_to "Appointments", date_path, :class => 'menulink' %>
					</div>
					<div class="menuitem">
						<%= link_to "Logout", :logout, :class => 'menulink' %>
					</div>
					<div class="menuitem">
						<%= link_to "Account", user_path(current_user.id), :class => 'menulink' %>
					</div>
				<% else %>
					<div class="menuitem">
						<%= link_to "Register", new_user_path, :class => 'menulink' %>  
					</div>
					<div class="menuitem">
						<%= link_to "Login", :login, :class => 'menulink' %>
					</div>
				<% end %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div id="menu_bot">
				<% if current_user %>
					<div class="menuitem">
							<%= link_to "Create Appointment", new_appointment_path, :class => 'menulink' %>
					</div>
					<div class="menuitem">
							<%= link_to "Add Friend", new_friend_path, :class => 'menulink' %>
					</div>
				<% end %>
				<% if current_user && ufinder(current_user.id) == "Roman" %>
					<div class="menuitem">
        					<%= link_to "Delete all", destroy_all_appointments_path, :class => 'ibutton' %>
					</div>
					<div class="menuitem">
						<%= link_to "Create dummies", create_dummies_path, :class => 'ibutton' %>
					</div>
				<% end %> 
			</div>
		</div>
	</div>
</body>
</html>
